body {
  color: #494C4C;
  padding-bottom: 350px;
  -webkit-font-smoothing: antialiased;
}

.logo {
  width: 84px;
  height: 84px;
  background: url(../images/glyph.png) no-repeat;
  background-attachment: scroll;
  background-image: -webkit-image-set(url(../images/glyph.png) 1x, url(../images/glyph@2x.png) 2x);
  display: block;
  float: left;
}

header {
  background-color: #FFF;
  border-bottom: 1px solid #E1E4E5;
  padding: 12px 0;
  margin-bottom: 24px;

  > div {
    max-width: 470px;
    margin: 0 auto ;
  }

  .logo {
    float: none;
    margin: 5px auto 0;
  }
}

.intro {
  text-align: center;
  width: 100%;
  max-width: 1210px;
  height: 370px;
  padding-top: 100px;
  margin: 0 auto;
  background: url(../images/introBG.png) no-repeat center center;
  background-attachment: scroll;
  background-image: -webkit-image-set(url(../images/introBG.png) 1x, url(../images/introBG@2x.png) 2x);

  > p {
    max-width: 600px;
    margin: 0px auto 48px auto;
    font-weight: normal;
    font-size: 24px;
    font-style: normal;
    color: #ABB3B3;
  }

  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 48px;
    color: #494C4C;
  }

  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    color: #ABB3B3;
    margin: 0;
    margin-top: 16px;
  }

  .muted {
    color: #2BCDFC;
    display: block;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 48px;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

    &:hover, &:focus {
      color: #2775C6;
      text-decoration: none;
    }
  }
}

hr {
  height: 1px;
  display: block;
  background: #E1E4E5;
  border: 0;
}

.section {
  max-width: 950px;
  margin: 0 auto;
  padding: 120px 0px;
  font-weight: normal;
  color: #ABB3B3;
  line-height: 150%;

  h1 {
    font-weight: normal;
    font-size: 20px;
    color: #494C4C;
    margin: 0;
    margin-bottom: 1em;
  }

  p {
    font-family: "proxima_nova_rgregular", "Proxima Nova", sans-serif;
    font-weight: normal;
    color: #ABB3B3;
    line-height: 150%;
    max-width: 480px;
  }
}

.button {
  background: #FFF;
  height: 36px;
  line-height: 24px;
  border: 1px solid #ABB3B3;
  padding: 6px 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  margin-top: 36px;
  display: inline-block;
  color: #ABB3B3;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;

  &+.button {
    margin-left: 12px;
  }

  &:focus {
    color: #ABB3B3;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    color: #2BCDFC;
    border-color: #2BCDFC;
  }
}

.btn {
  &.btn-default {
    border-color: #ABB3B3;
    border-width: 2px;
    color: #ABB3B3;
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 1.5px;
    padding: 18px 24px;
    text-transform: uppercase;
    transition: background .5s ease-out;

    &:hover {
      background: #ABB3B3;
      color: #FFF;
    }

    &+.btn-default {
      margin-left: 24px;
    }
  }
}

.code {
  float: right;
  width: 450px;

  .header {
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;
  }

  .request {
    display: block;
    float: left;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #494C4C;
  }

  .preview {
    color: #2BCDFC;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #2775C6;
      opacity: 1;
      text-decoration: none;
    }
  }

  .payload {
    margin-bottom: 75px;
  }

  pre {
    border-color: transparent;
    border:0;
    font-size: 11px;
    max-height: 250px;
    overflow: hidden;
  }

  .more {
    color: #CCC;
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: 12px;
    font-weight: bold;
    color: #ABB3B3;
    padding: 0;
    margin: 20px 0 5px 0;
    text-transform: uppercase;
  }

  pre {
    padding: 0;
  }
}

/* Mobile fixes */
@media (max-width: 991px) {
  .section {
    padding-left: 15px;
    padding-right: 15px;

    h1 {
      text-align: center;
    }
    > p {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  .intro {
    .btn {
      &.btn-default {
        margin-left: 0px;
        margin-bottom: 24px;
      }
    }
  }
}

@import './highlight-theme';